/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color selected-text #644535;
@define-color text #b76e79;
@define-color base #F5E6D3;
@define-color border #644535;
@define-color foreground #b76e79;
@define-color background #F5E6D3;

@define-color hover #b76e79;


window .search-container,
window .search {
  background: alpha(@hover, 0.2);
  color: @foreground;
  border: 2px solid alpha(@border, 0.5);
  border-radius: 12px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
}

window .box-wrapper {
    border-radius: 8px;
    box-shadow: 0 2px 12px alpha(@selected-text, 0.5);
    backdrop-filter: blur(10px);
}

window .search-container text {
    color: @selected-text;
    caret-color: @selected-text;
}
